<!DOCTYPE html>
<html>
<head>
  <title>points of interest demo</title>
  <link href="styles_1.css" media="screen" rel="stylesheet" type="text/css" /> 
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
</head>
<body>
  <div id="map"></div>
  <div id="config">
    <select id="location">
      <option value="13.752222,100.493889">Bangkok</option>
      <option value="41.383333,2.183333">Barcelona</option>
      <option value="39.913889,116.391667">Beijing</option>
      <option value="30.058056,31.228889">Cairo</option>
      <option value="55.858,-4.259">Glasgow</option>
      <option value="60.170833,24.9375">Helsinki</option>
      <option value="-26.204444,28.045556">Johannesburg</option>
      <option value="53.799722,-1.549167">Leeds</option>
      <option value="-37.813611,144.963056">Melbourne</option>
      <option value="19.433333, -99.133333">Mexico City</option>
      <option value="45.508889,-73.554167">Montreal</option>
      <option value="55.751667,37.617778">Moscow</option>
      <option value="48.856667,2.350833">Paris</option>
      <option value="10.769444,106.681944">Saigon</option>
      <option value="37.7793,-122.4192">San Francisco</option>
      <option value="47.609722,-122.333056" selected="selected">Seattle</option>
      <option value="59.35,18.066667">Stockholm</option>
      <option value="35.683333,51.416667">Tehran</option>
      <option value="49.25,-123.1">Vancouver</option>
      <option value="52.23, 21.010833">Warsaw</option>
    </select>
  </div>
  <script type="text/javascript" src="tags_1.js"></script>
  <script type="text/javascript" src="map_1.js"></script>
</body>
</html>